

:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--wine-red);
  height: 100vh;
}

.container {
  background: var(--snow);
  flex-direction: column;
  border-radius: 10px;
  padding: 3em;
  min-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 100vh;
  overflow: hidden;
}

p {
  font-size: 45px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 22px;
}

.christmas {
  font-family: "Mountains of Christmas", cursive;
  color: var(--dark-green);
  background-color: var(--wine-red);
}

.snow {
  font-family: "Lobster Two", cursive;
  color: var(--snow);
  background-color: var(--snow);
}

.snow .container {
  color: #f0f4f7;
  background-color: var(--dark-green);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 26px;
  border-radius: 50px;
  padding: 5px;
  transform: scale(1.5);
  outline: 3px solid black;
}

.ball {
  width: 30px;
  height: 30px;
  background: var(--dark-green);
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(36px);
  background: var(--snow);
}

.fa-sleigh {
  color: var(--wine-red);
}

.fa-snowman {
  color: var(--wine-red);
}
